body{
    padding: 0px;
    margin: 0px;
}
.contenedor{
    width: 100%;
    height: 400px;
    padding: 25px 0px;
}
.contenedor img{
    height: 350px;
}

.contenedor .carousel-indicators [data-bs-target] {
    background-color: black;
}


.contenedor p{
    display: inline-block ;
    width: 60px;
    font-size: 40px;
    font-weight: 100;
    background-color:black;
    border-radius: 50px;
    
    color:white;
}


/*Bajo*/

.beneficios{
    display: flex;
    justify-content: space-around;
}

.ofrecemos .contenido{
    width: 300px;
}
i{
    display: inline-block;
    width: 100%;
    font-size: 50px;
    color: red;
    text-align: center;
}

.ofrecemos h1{
    text-align: center;
    margin: 10px 0px 40px 0px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifS;
}
.beneficios p{
    text-align: justify;
}
